html {
    width: 100%;
}

body {
    width: 1000px;
    margin: 0 auto;
}

li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
}
  
.label {
    font-weight: bold;
}

.create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
}

.form-group {
    margin-bottom: 5px;
}

h1, h2 {
    margin: 0 auto;
    font-family: "Shrikhand", Times, Arial, serif;
    color: #333335;
}